Wrapper to center the form
.upload-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: #f9f9f9;
}

/* Form container */
.upload-course-form {
  padding: 30px;
  max-width: 560px;
  margin: 40px auto;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Heading */
.upload-course-text {
  color: #6B46C1;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

/* Input fields */
.inputField,
.textareaField,

.chooseFile {
  width: 100%;
  
  padding-top: 10px;
  padding-bottom: 10px;
  
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

.inputField:focus,
.textareaField:focus,
.chooseFile:focus {
  border-color: #8F3E97;
  box-shadow: 0 0 5px rgba(143, 62, 151, 0.5);
}

.file-preview {
  font-size: 14px;
  color: #333;
  font-style: italic;
  margin-bottom: 15px;
}

.uploadBtn {
  background-color: #4bc41c;
  color: white;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.uploadBtn:hover {
  background-color: #30b210;
}

.file-preview {
  font-size: 14px;
  color: #333;
  margin: 10px 0;
  display: flex;
  align-items: center;
}
