/* button.css */
/* .btn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

.orange {
  background-color: #FF451C;
  color: white;
} */


