.job-form-container {
    padding: 30px;
    max-width: 600px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 28px;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 20px;
    text-align: center;
}

.form-input {
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

.form-textarea {
    width: 100%;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    height: 70px;
    transition: border-color 0.3s;

}

.form-input:focus,
.form-textarea:focus {
    border-color: #8F3E97;
}

.submit-button {
    background-color: #71cd15;
    color: white;
    /* padding: 12px 20px; */
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.submit-button:hover {
    background-color: #16b81e;
}