.footer {
  background-color: #8F3E97;
  color: white;
  padding: 40px 25px;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;


  margin: 10px;
}

.footer-section h3 {
  border-bottom: 2px solid #ff9f1c;
  padding-bottom: 15px;

  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #f1f1f1;
  display: block;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #ff9f1c;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 15px;
  font-size: 14px;
}
